<?php
// block direct access
if (__FILE__ == $_SERVER['SCRIPT_FILENAME']) {
    header("Location: /error/403");
    exit;
}
// detect https & avoid CORS issues(Origin Resource Sharing)
$isSecure = false;
if (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] == 'on') {
    $isSecure = true;
}
elseif (!empty($_SERVER['HTTP_X_FORWARDED_PROTO']) && $_SERVER['HTTP_X_FORWARDED_PROTO'] == 'https' || !empty($_SERVER['HTTP_X_FORWARDED_SSL']) && $_SERVER['HTTP_X_FORWARDED_SSL'] == 'on') {
    $isSecure = true;

// base where application is hosted
define("SITE_URI", ""); // don't include ending trail
